.main-content-right {
  flex: 1;
  margin-right: 100px;
  margin-left: 20px;
}

.cnode-reply,.cnode-score {
  margin-top: 10px;
  border-radius: 0 0 3px 3px;
  background-color: #fff;
  text-align: left;
  padding-bottom: 10px;
}

.cnode-reply-title, .cnode-score-title {
  background-color: #fbf9f9;
  font-size: 13px;
}

.cnode-reply-title-text, .cnode-score-title-text {
  padding: 10px;
}

.cnode-reply .bi-typography {
  color: #778087!important;
}

.cnode-score-topic-link {
  margin-left: 16px;
  cursor: pointer;
}

.cnode-score-visit-number, .cnode-score-topic-link {
  font-size: 12px;
  color: #778087;
}

.cnode-score-visit-number {
  width: 36px;
}
