.jumper {
  position: fixed;
  right: 0;
  top: 300px;
  width: 24px;
  height: 100px;
  color: gray;
  padding: 12px 0 12px 5px;
  cursor: pointer;
  z-index: 20;
  background-color: #fff;
  border-radius: 12px 0 0 12px;
}