.App {
  text-align: center;
}

body {
  background-color: #e1e1e1;
}

.cnode-title {
  display: flex;
  z-index: 999;
  background: #444;
}

.bi-search-editor {
  border-radius: 15px;
}

.cnode-title-search {
  display: flex;
  margin: 10px 0px 10px 20px;
}

.cnode-input {
  margin-top: 6px;
  margin-left: 20px;
}

.bi-input {
  color: white
}
.cnode-title-menu {
  display: flex;
  margin-left:auto;
  margin-top: 16px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.cnode-title-menu-link {
  margin-left: 16px;
  margin-top: 12px;
  text-shadow: none;
  font-size: 13px;
}

.cnode-tab {
  display: flex;
  background-color: #f6f6f6;
  padding: 10px;
}

.link-label {
  text-decoration:none;
  color: #ccc;
}

.cnode-icon {
  width: 120px;
  margin-top: 12px
}

.cnode-tab-text {
  margin-left: 20px;
  background-color: #80bd01;
  color: #fff;
  border-radius: 3px;
  padding: 3px 4px;
}

.main-content {
  display: flex;
  margin: 20px auto;
  min-height: 0;
}
.main-content-left {
  width: 1000px;
  margin-left: 100px;
}
.main-content-topic {
  display: flex;
  height: 20px;
  padding: 15px;
  border-bottom: 1px solid #f0f0f0;
  background-color: white;
}

.main-content-topic:hover {
  background-color: #f6f6f6;
}

.main-content-user {
  cursor: pointer;
}

.main-content-container {
  margin-top: -27px;
}

.main-content-topic-count {
  margin-left: -25px;
  width: 75px;
}

.main-content-topic-tag {
  margin-right: 10px;
  width: 40px
}

.main-content-topic-last-reply {
  margin-left: auto;
  font-size: 12px;
  color: #ccc;
}

a {
  text-decoration:none;
  color: #778087;
}

.main-content-topic-reply-text {
  font-size: 14px;
  color: #9e78c0;
  margin-right: 2px;
}

.main-content-topic-visit-text {
  font-size: 12px;
  color: #ccc;
  margin-left: 2px;
}

.main-content-topic-good-title, .main-content-topic-common-title {
  font-size: 13px;
  padding: 2px;
  border-radius: 3px;
  margin-left: 5px;
}

.main-content-topic-good-title {
  background-color: #80bd01;
  color: white;
}

.main-content-topic-link {
  max-width: 750px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.main-content-topic-common-title {
  background-color: #e5e5e5;
  color: #999;;
}

.main-content-pagination {
  margin-top: 16px;
}

.main-content-right {
  flex: 1;
  margin-right: 100px;
  margin-left: 20px;
}

.cnode-login {
  padding: 10px;
  border-radius: 0 0 3px 3px;
  background-color: #fff;
}

.main-content-right-login {
  width: 150px;
  height: 34px;
}

.cnode-login-introduction {
  margin-top: 5px;
  text-align: left;
}

.cnode-login-operator {
  text-align: left;
  font-size: 13px;
}

.cnode-reply,.cnode-score, .cnode-group {
  margin-top: 10px;
  border-radius: 0 0 3px 3px;
  background-color: #fff;
  text-align: left;
  padding-bottom: 10px;
}

.cnode-reply-title, .cnode-score-title, .cnode-group-title {
  background-color: #fbf9f9;
  font-size: 13px;
}

.cnode-reply-title-text, .cnode-score-title-text,.cnode-group-title-text {
  padding: 10px;
}

.cnode-reply-topic, .cnode-score-topic, .cnode-group-title-image {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cnode-group-title-image {
  cursor: pointer;
}

.cnode-reply-topic {
  width: 270px;
  font-size: 14px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.cnode-reply .bi-typography {
  color: #778087!important;
}

.cnode-score-topic-link {
  margin-left: 16px;
  cursor: pointer;
}

.cnode-score-visit-number, .cnode-score-topic-link {
  font-size: 12px;
  color: #778087;;
}
